/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
//@import "~material-design-icons/iconfont/material-icons.css";

.one-above-all {
  z-index: $zindex-tooltip;
}
h1 .material-icons {
  font-size: inherit;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color:$primary;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:$primary;
}

